.menu-link {
    color: #acb86b;
    font-weight: bold;
    font-size: x-large;
}

.menu-hidden-bar {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    margin: 3px auto;
    background-color: white;
}

.page-bottom {
    height: 200px;
    background-color: #acb86b;
    color: white;
    padding: 20px;
    font-size: large;
    font-family: "head";
}
