.home-title {
    font-size: 10vw;
    color: white;
    text-align: center;
    padding-top: 8vw;
    padding-left: 20vw;
}
.home-intro {
    margin: 25px;
    width: 40%;
    height: 30vw;
    color: black;
    float: left;
}

.home-intro-card {
    font-size: large;
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
    width: 30%;
    height: 30vw;
    background-color: #f0ffff88;
    color: black;
    display: inline-block;
}

.home-img {
    margin: 40px auto;
    height: 300px;
    width: 80%;
    border-radius: 30px;
    background-color: #4b4b4b;
    position: relative;
}
