.info-card {
    border-radius: 15px;
    background-color: #f0ffffaa;
    width: 40%;
    height: 40vw;
    padding: 25px;
    margin: 20px;
    display: inline-block;
}

.info-card-title {
    font-size: xx-large;
}

.info-card-content {
    font-size: medium;
    text-align: start;
}

.info-detail {
    padding: auto;
    margin: auto;
    color: white;
    text-align: center;
    font-size: large;
}
