.info-card {
    border-radius: 50px;
    background-color: #f0ffff88;
    width: 40%;
    height: 30vw;
    padding: 30px;
    margin: 20px;
    display: inline-table;
}

.info-card-title {
    font-size: xx-large;
    font-family: 'title';
}

.info-card-content {
    font-size: medium;
    text-align: start;
}

.info-detail {
    padding: 80px 10px 100px 10px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'head';
}

.info-card-detail {
    margin: 30px 100px 30px 100px;
    padding: 30px;
    border-radius: 50px;
    background-color: #f0ffff88;
    color: black;
}

.info-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}
.info-intro {
    font-size: 24px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 30px;
    font-family: 'txt';
}
.info-video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}
.info-project {
    font-size: 20px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 30px;
    font-family: 'head';
}

.info-detail-image {
    width: 40%;
    margin: 20px;
    border-radius: 30px;
}
