.graduation-card {
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    border-radius: 15px;
    background-color: #676767cc;
    position: relative;
}

.graduation-card-text {
    font-size: large;
    background-color: #aaaaaaaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
